/* Write your CSS here */
.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: palevioletred;
}
.heading {
  color: black;
  font-family: roboto;
}
.btn {
  background-color: white;
  border-radius: 5px;
}
